- name: upgrade all packages
  yum:
    name: "*"
    state: latest

- name: gcc, python-devel, nmap-ncat, bind-utils, wget, git, net-tools, iptables-services, bridge-utils, bash-completion, kexec-tools, sos, psacct
  yum:
    name: gcc, python-devel, nmap-ncat, bind-utils, wget, git, net-tools, iptables-services, bridge-utils, bash-completion, kexec-tools, sos, psacct
    state: latest

- name: install atomic-openshift-utils
  yum:
    name: atomic-openshift-utils
    state: latest

- name: install ansible
  yum:
    name: "ansible"
    state: latest

- name: "setsebool -P virt_sandbox_use_fusefs o"
  command: "setsebool -P virt_sandbox_use_fusefs o"
  register: result
- debug:
    var: result.stdout